<ol class="skills-list">
  <li class="skill flexrow skill-header">
    <div class="skill-name">Skills</div>
  </li>
  <div class="skill-list-content grid grid-2col">
    {{#each system.skills as |skill key|}}
    <li class="skill flexrow" data-skill-id="{{skill._id}}">
      <div class="skill-name">
        <label class="rollable" for="system.skills.{{key}}.rank">{{skill.label}}</label>
      </div>
      <div class="skillRank flexrow flex-center flex-between">
        <br>
        <input class="skill-input" type="text" name="system.skills.{{key}}.rank" value="{{skill.rank}}" data-dtype="Number"/>
      </div>
    </li>
  {{/each}}
  </div>
</ol>